.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 50px;
  max-width: 200px; /* optional: keep profile image nicely sized */
}

.hero h2 {
  text-align: center;
  max-width: 70%; /* allow responsive text wrapping */
  font-size: 50px;
  font-weight: 600;
}

.hero h2 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  max-width: 60%; /* allow paragraph to span more space */
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width: 768px){
  .hero img{
    margin-top: 120px;
    width: 260px;
  }
  .hero h2{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume{
    padding: 20px 50px;
    border-radius: 40px;

  }
}